body {
  font-family: Arial, sans-serif;
  text-align: center;
}

.container {
  margin: 50px auto;
  max-width: 400px;
}

input {
  padding: 10px;
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
}

#weatherInfo {
  margin-top: 20px;
}
